---
import type { Recipe } from "../type/recipesAPI";

interface Props {
  recipes: Recipe[];
}
const { recipes } = Astro.props;
---

<div class="flex my-2 justify-center items-center w-full">
  <h1 class="text-orange-500 font-bold text-3xl mr-4">Similar Recipes</h1>
  <div class="flex gap-2 flex-wrap ">
    {
      recipes.map((recipe: Recipe) => (
        <a href={`/recipes/${recipe.id}`} class="hover:scale-110 duration-200 ">
          <div
            id={`tooltip-${recipe.name}`}
            role="tooltip"
            class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
          >
            {recipe.name}
            <div class="tooltip-arrow" data-popper-arrow />
          </div>
          <img
            data-tooltip-target={`tooltip-${recipe.name}`}
            class="size-20  rounded"
            src={recipe.image}
            alt={`${recipe.name}_image`}
          />
        </a>
      ))
    }
  </div>
</div>
